body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  opacity: 1;
  transition: opacity 0.5s;
}

body.fade-out {
  opacity: 0;
}
header {
  background-color: transparent;
  color: rgb(126, 124, 124);
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
.manga-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;  /* this helps the link occupy the full width & height of h1 */
}

h1 strong {
  color: #238aff;
  font-weight: 900;
  font-size: 60px;
}
.search-section input,
.search-section select,
.search-section button {
  flex: 1;
  margin: 10px;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-section button {
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#results-section {
  margin: 20px;
}
.manga-card {
  display: inline-block;
  width: 150px;
  height: 250px;
  margin: 10px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}
.manga-card:hover {
  border: 3px solid #066eb4;
}
#loadMoreChapters {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none; /* No border */
  background-color: #656668;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 5px; /* Added for rounded corners */
  width: 150px; /* Fixed width for the button */
  align-self: center;
}
a {
  text-decoration: none;
  color: #9e9d9d;
}
.manga-title {
  background-color: #2074f1;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  font-size: 14px;
  height: 40px; /* Set a fixed height for the title area */
  overflow: visible;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  line-height: 18px; /* Explicit line height */
  padding: 2px 5px; /* Reduced vertical padding */
  box-sizing: border-box; /* Include padding in height */
}
.manga-card img {
  width: 100%;
  display: block;
  height: calc(100% - 40px);
  object-fit: cover;
}
#trending h2,
#top-publishing h2,
#top-upcoming h2,
#most-popular h2 {
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #147aee;
}

.results {
  padding: 20px 0;
  text-align: center;
  margin-bottom: 30px;
}

button#toggleFilters:hover {
  background-color: white;
  color: #1683ff;
}
.search-container {
  width: 80%;
  margin: 30px auto;
  position: relative;
}
.search-section {
  display: block;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 0;
  width: 30%;
  margin: auto;
}

.main-search {
  width: calc(
    100% - 160px
  ); /* Assuming 160px is the width of the button, adjust accordingly */
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.main-search input {
  flex: 1;
  width: calc(100% - 40px);
  background-color: #f1f1f1;
  border: none;
  padding: 10px;
  outline: none;
}
.main-search:hover {
  border-color: #237ef5;
}
.main-search .search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 5px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
}

#toggleFilters {
  width: 110px; /* Adjust width as needed */
  background-color: #0077ff;
  border: 1px solid #d4d4d4;
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/* Filters Dropdown */
#filtersDiv {
  display: none;
  padding: 15px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  width: 60%; /* Adjust width based on your preference */
  margin: 10px auto;
}

.filter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.filter-row label {
  font-weight: bold;
  margin-right: 15px;
  color: #066eb4;
}

#filtersDiv select {
  width: 60%; /* Adjust width based on your preference */
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
}

#results-section {
  text-align: center;
}
#results-section h2 {
  color: rgb(44, 114, 245);
}
/* Base styling for all buttons inside the section */
#results-section button {
  margin: auto;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 16px;
  background-color: #275ff7; /* Light blue */
  color: #ffffff;
}

#results-section button:hover,
#results-section button:focus {
  background-color: #afafaf; /* Darker blue on hover/focus */
  transform: scale(1.05);
  color: #2788f7;
}

#results-section button:active {
  background-color: #237df3; /* Even darker blue on active/click */
  transform: scale(1);
}

#results-section #trending button {
  border: 2px solid #b0b0b0; /* Gray border */
}
/* Manga Modal Styles */
#mangaModal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
  z-index: 1000;
}
#modalMangaChapters {
  cursor: pointer;
  padding: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  border: 2px solid #5796f5;
  margin: 10px;
  display: flex;
  position: relative;
}
#mangaModalContent {
  position: relative;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Adjusted for a narrower modal */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.modalTopSection {
  display: flex;
  align-items: start; /* Ensures the content starts at the top */
  justify-content: start; /* Aligns items to the start of the container */
}
#mangaModalContent strong {
  color: #066eb4;
}

#modalMangaTitle {
  color: #3d92f5; /* Darker text color */
  font-size: 24px; /* Bigger title */
  margin-bottom: 15px; /* Spacing */
}

#modalMangaImage {
  width: 30%;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 5px;
  flex-shrink: 0;
  border-radius: 10px;
}
.closeModalBtn {
  color: #aaa; /* Neutral color */
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.closeModalBtn:hover,
.closeModalBtn:focus {
  color: #555555; /* A bit lighter on hover */
  text-decoration: none;
}

#chapterBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none; /* No border */
  background-color: #226af1;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 5px; /* Added for rounded corners */
  width: 150px; /* Fixed width for the button */
  align-self: center;
}

#chapterBtn:hover {
  background-color: #185bd7; /* Slightly darker on hover */
}
footer {
  background-color: rgb(184, 185, 185);
  position: relative;
  padding: 40px 0;
  text-decoration: none;
  color: rgb(76, 129, 243);
  z-index: 3;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.footer-logo h2 {
  font-size: 34px;
  margin: 0;
}

.footer-logo h2 span {
  color: #858484;
}

.footer-disclaimer {
  margin: 15px 0;
  color: rgb(124, 124, 124);
  font-size: 14px;
}

.footer-manga-btn button {
  padding: 10px 15px;
  background-color: rgb(81, 137, 243);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: none;
  color: #4876f3;
}

.footer-manga-btn button:hover {
  background-color: rgb(100, 99, 99);
  color: rgb(58, 123, 245);
  transform: scale(1.05);
}

.footer-copyright {
  margin-top: 20px;
  color: #838383;
  font-size: 14px;
}
/* Reading Options Modal Styles */
#readingOptionsModal {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

#readingOptionsModal > div {
  background: white;
  padding: 20px;
  max-width: 80%;
  width: 400px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#modalChapterTitle {
  color: #007bff;
}
#readingOptionsModal h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

#readingOptionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#readingOptionsList li {
  margin-bottom: 10px;
}

#readingOptionsList a {
  color: #007bff;
  text-decoration: none;
}

#readingOptionsList a:hover {
  text-decoration: underline;
}

#readingOptionsModal button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
}

#readingOptionsModal button:hover {
  background-color: #0056b3;
}
