 /* CSS STYLE FOR ACTIVITY 1 */

  /* -- Font Family -- */
@font-face {
    font-family: Rubik-Bold;
    src: url("../fonts/rubik_bold.ttf");
}
@font-face {
    font-family: Rubik-Regular;
    src: url("../fonts/rubik_regular.ttf");
}
@font-face {
    font-family: Rubik-Light;
    src: url("../fonts/rubik_light.ttf");
}
@font-face {
    font-family: Lobster-Regular;
    src: url("../fonts/lobster_regular.ttf");
}

/* -- Color Family -- */
:root {
    --primary-color: #F5393B;
    --primary-color-dark: #BE2C2E;
    --primary-color-light: #FFC1C2;
    --accent-color: #25567D;
    --bgandtext-color-light: #F8F7F2;
    --bgandtext-color-dark: #1A1A1A;
    --bgandtext-color-grey: #808080;
}

/* -- Font Root -- */
:root {
    --bold-font: 'Rubik-Bold';
    --regular-font: 'Rubik-Regular';
    --light-font: 'Rubik-Light';
    --special-font: 'Lobster-Regular';
}

    /* -- Overall Body -- */
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    /* -- Header -- */
    header {
        width: 100%;
        background-color:var(--bgandtext-color-light);
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }
    .logo{
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .logo > p{
        text-align: center;
        margin-left: 10px;
        font-family: var(--special-font);
        color: var(--primary-color);
        font-size: 30px;
    }
    header #profilePicture {
        border-radius: 50%;
    }
    header img{
        height: 50px;
        float: left;
    }

    /* -- Header Mini-Menu-- */
    .miniMenu{
        display: none;
        position: absolute;
        width: 250px;
        top: 80px;
        right: 20px;
        z-index: 2;
        box-shadow: 5px 5px 10px #888888;
    }
    .miniMenu a{
        margin: 0;
        padding: 0;
        text-decoration: none;
        display: block;
        width: 100%;
        background-color: var(--bgandtext-color-light);
        color: var(--bgandtext-color-dark);
        justify-content: center;
    }
    .buttonWithImage img{
        height: 20px;
        width: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .buttonWithImage{
        display: flex;
        align-items: center;
    }
    .buttonWithImage p{
        margin: 0;
        margin-left: 5px;
        font-family: var(--regular-font);
    }
    .show{
        display: block;
    }

    /* -- Login Panel -- */
    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
    }

    /*LOG IN BOX*/
    
    .random{
        display: flex;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    
    .LogInBox{
        background-color: var(--bgandtext-color-light);
        width: 350px;
        padding: 20px;
        border-radius: 25px;
        border-style: solid;
        border-color: var(--primary-color-dark);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .LogInBox h1{
        font-size: 36px;
        text-align: center;
        font-family: var(--special-font);
        color: var(--primary-color);
    }
    .LogInBox p{
        font-family: var(--regular-font);
        color: var(--bgandtext-color-dark);
    }
    .LogInBox input[type=text],input[type=password]{
        text-align: center;
        border-radius: 25px;
        border-color: goldenrod;
        border-style: solid;
        background-color: var(--bgandtext-color-light);
        margin-bottom: 10px;
        width: 80%;
        height: 100%;
        border: 2px solid var(--primary-color);
        border-radius: 40px;
        padding: 15px 30px 15px 30px;
    }
    #username::placeholder {
        color: var(--primary-color-light);
        font-family: var(--light-font);
      }
    #password::placeholder {
        color: var(--primary-color-light);
        font-family: var(--light-font);
      }
    .LogInBox input[type=text]:focus, input[type=password]{
        outline: 1px var(--primary-color-dark);
    }
    .LogInBox img{
        width: 50%;
    }
    .LogInBox button{
        width: 100%;
        height: 45px;
        background: var(--primary-color);
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 16px;
        color:var(--bgandtext-color-light);
        font-weight: 600;
        margin-bottom: 10px;
    }
    .LogInBox button:active{
        color: rgb(255,255,255);
        background-color: var(--primary-color-dark);
    }

    /* --  Profile Page -- */
    .content{
        width: 98%;
        z-index: 1;
    }
    .content > div{
        width: 100%;
        background-color: var(--bgandtext-color-light);
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        padding: 10px;
    } 
    .personalInfo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .personalInfo img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .textBox{
        margin-left: 30px;
    }
    #currentFilter{
        margin: 0;
        margin-top: 15px;
    }
    /* --  Recipe Menu Nav Bar -- */
    .recipeMenu{
        display: flex;
    }
    .recipeMenu[title="categories"]{
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }
    .recipeMenu[title="categories"] button{
        width: 100%;
        font-family: var(--regular-font);
    }
    .recipeMenu button{
        background-color: var(--primary-color-light);
        margin: 0;
        width: 100%;
        height: 50px;
        border-style: none;
        align-items: center;
        display: flex;
    }
    .recipeMenu button:hover{
        background-color: #FFADAE;
    }
    .recipeMenu button:active{
        background-color: rgb(191, 198, 204);
        border-color: rgb(182, 138, 27);
    }
    .recipeMenu button[title="first"]{
        border-radius: 15px 0px 0px 15px;
    }
    .recipeMenu button[title="last"]{
        border-radius: 0px 15px 15px 0px;   
    }
    .recipeMenu button img {
        margin-right: 10px; 
        width: 30px; 
        height: 30px;
        align-items: center;
    }
    .contentBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }
    .contentBox > h1{
        width: 100%;
        text-align: center;
        font-family: var(--regular-font);
        color: var(--bgandtext-color-dark);
    }
    .textBox p, .textBox h1{
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
        font-family: var(--regular-font);
    }
    .recipeTab{
        position: relative;
        margin-left: 15px;
        margin-bottom: 15px;
        margin-top: 15px;
        border-radius: 25px;
        width: 200px;
        height: 300px;
        background-color: var(--primary-color-dark);
        overflow: hidden;
    }
    .recipeTab img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .recipeTabTitle{
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(rgba(165, 42, 42, 0),  var(--primary-color-dark));
        border-radius: 0 0 25px 25px;
        width: 100%;
        height: 30%;
        padding: 15px;
        box-sizing: border-box;
        transition: height 0.5s;
        font-family: var(--bold-font);
        text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
    }
    .recipeTabTitle p[title=desc]{
        min-height: 18px;
        max-height: 100%;
        overflow: hidden;
        font-family: var(--regular-font);
        color: var(--bgandtext-color-light);
        text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
    }
    .recipeTabTitle p[title="rating"]{
        display: none;
        font-family: var(--light-font);
        text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
    }
    .recipeTabTitle:hover p[title="rating"]{
        display: block;
        font-family: var(--light-font);
        text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
    }
    .recipeTabTitle:hover{
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .recipeTabTitle h2, .recipeTabTitle p{
        color: white;
        margin: 0;
        padding: 0;
    }
    
    /* -- Recipe Page-- */
    .recipeImage{
        width: 100%;
        position: relative;
        margin-bottom: 10px;
    }
    .recipeImage > img{
        width: 100%;
        height: 300px;
        object-fit:cover;
        border-radius: 25px 25px 0px 0px;
    }
    #type{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--bgandtext-color-light);
        width: max-content;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 25px;
    }
    #type img{
        width: 25px;
        height: 25px;
    }
    #type p{
        margin: 0;
        margin-left: 5px;
        padding-right: 5px;
        padding-left: 5px;
        font-family: var(--regular-font);
        color: var(--primary-color);
    }
    #overallRating{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--bgandtext-color-light);
        width: max-content;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 25px;
        margin-left: 5px;
    }
    #overallRating p{
        margin: 0;
        padding-right: 5px;
        padding-left: 5px;
        font-family: var(--regular-font);
        color: var(--primary-color);
    }
    #title{
        margin-top: 5px ;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--bgandtext-color-light);
        width: max-content;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 25px;
    }
    #title h1{
        margin: 0;
        margin-right: 10px;
        font-family: var(--bold-font);
        color: var(--bgandtext-color-dark)
    }
    #title img{
        width: 38px;
        height: 38px;
    }
    .typeAndRating{
        display: flex;
        flex-direction: row;
    }
    #rating{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--bgandtext-color-light);
        width: max-content;
    }
    #rating p{
        margin: 0;
        font-family: var(--regular-font);
        color: var(--primary-color);
    }
    .imageTitle{
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(rgba(165, 42, 42, 0), var(--bgandtext-color-dark));
        width: 100%;
        height: 30%;
        padding: 15px;
        box-sizing: border-box;
        transition: height 0.5s;
    }
    .recipeInfo{
        width: 80%;
    }
    .recipeCreator{
        display: flex;
        flex-direction: row;
    }
    .recipeCreator p {
        font-family: var(--bold-font);
        color: var(--primary-color);
        margin-left: 10px;
    }
    .recipeCreator img{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 40px;
    }
    .recipeHeader{
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 100px;
    }
    .recipeDesc p{
        margin: 0;
        font-family: var(--regular-font);
        color: var(--bgandtext-color-dark)
    }
    .recipeTime{
        width:auto;
        height:fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        background-color: var(--primary-color-light);
        border-radius: 5px;
        padding: 5px;
    }
    .recipeTime p{
        margin: 0;
        margin-left: 10px;
        padding: 0;
        font-size: 15px;
        color:var(--primary-color);
        font-family: var(--regular-font);
    }
    .recipeTime img{
        height: 25px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .ingredients h2{
        margin: 0;
        padding: 0;
        color:var(--bgandtext-color-dark);
        font-family: var(--bold-font);
    }
    .ingredients ul{
        margin: 0;
        margin-left: 20px;
        color:var(--primary-color);
        font-family: var(--regular-font);
    }
    .steps h2{
        margin: 0;
        padding: 0;
        color:var(--bgandtext-color-dark);
        font-family: var(--bold-font);
    }
    .steps ol{
        margin: 0;
        margin-left: 20px;
        color:var(--bgandtext-color-dark);
        font-family: var(--regular-font);
    }

    .back-button {
        display: flex;
        align-items: center;
        align-content: left;
        margin-top: 20px;
        justify-content: flex-start;
    }
    .back-button img {
        width: 20px; 
        height: 20px; 
        margin-right: 10px; 
    }
    .back-button a {
        text-decoration: none;
        color: var(--bgandtext-color-light);
        font-size: 20px;
        font-family: var(--regular-font);
    }

    [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
    .star img{
        width: 25px;
        height: 25px;
        margin-left: 5px;
    }
    /* -- Add Recipe Page -- */
    .AddRecipe_title h1{
        font-family: var(--special-font);
        color: var(--bgandtext-color-light);
    }
    .createRecipeForm{
        display: flex;
        background-color: var(--bgandtext-color-light);
        border-radius: 5px;
        width: 700px;
        min-height: 500px;
        height: auto;
        padding: 50px;
        box-sizing: border-box;
        border-style: solid;
        border-color: var(--primary-color-dark);
    }
    .createRecipeForm *{
        margin: 0;
        margin-bottom: 5px;
    }
    .form{
        display: flex;
        width: 100%;
        flex-direction: column;
        font-family: var(--bold-font);
        color: var(--bgandtext-color-dark);
    }
    .form > input[type=text]{
        width: 100%;
        border-radius: 15px;
        height: 25px;
        text-align: center;
        color: var(--primary-color-dark);
        border-style: solid;
        border-color: var(--primary-color);
    }
    .form .recipeMenu{
        margin: 0;
        padding: 0;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form .recipeMenu button{
        height: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form .recipeMenu button img{
        margin: 0;
    }
    .formHeader{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .formHeader p{
        width: 100%;
        
    }
    .formHeader img{
        width: 25px;
        height: 25px;
    }
    .imageUploader img{
        width: 400px;
        height: 200px;
        object-fit: cover;
    }
    .inputObj{
        display: flex;
        align-items: center;
    }
    .inputObj img{
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }
    .imageUploader{
        display: flex;
        flex-direction: column;
    }
    .form2{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .timeForm_label p{
        color: var(--primary-color-dark);
        font-size: 15px;
        font-family: var(--light-font);
    }
    .saveOrNo{
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
    }
    .saveOrNo div{
        width: 100%;
    }
    .saveOrNo button{
        background-color: var(--primary-color);
        color: var(--bgandtext-color-light);
        font-family: var(--regular-font);
        margin: 0;
        width: 150px;
        border-radius: 25px;
        height: 50px;
        border-style: none;
    }
    .saveOrNo button:hover{
        background-color: var(--primary-color-dark);
    }
    .saveOrNo button:active{
        background-color: var(--primary-color-dark);
    }
    .fill{
        width: 100%;
    }
    .timeForm{
        display: flex;
        flex-direction: row;
    }
    .timeForm *{
        margin: 0;
    }
    .timeInput{
        display: flex;
        align-items: center;
    }
    .timeInput input[type="number"]{
        width: 100px;
        border-radius: 5px;
        border-style: solid;
        border-color: var(--primary-color);
    }
    .timeInput p{
        margin-left: 5px;
    }

    .form p[id=choosenType] {
        color: var(--primary-color-dark);
        font-size: 15px;
        font-family: var(--light-font);
    }
    .listAdder .formHeader p, .imageUploader p {
        font-family: var(--bold-font);
        color: var(--bgandtext-color-dark);
    }

    .intro {
        display: flex; 
        color: var(--primary-color);
    }
    .intro h3 {
        font-family: var(--regular-font);
        margin: 0;
        font-size: 45px;
        padding-left: 20px;
    }
    .intro p {
        flex: 1;
        font-family: var(--regular-font);
        color: var(--bgandtext-color-dark);
        padding-left: 20px;
    }
    .intro h4 {
        flex: 1;
        font-family: var(--light-font);
        color: var(--bgandtext-color-dark);
        padding-left: 20px;
    }
    .intro img {
        width: 240px;
        height: auto; 
        border-radius: 15px;
    }
    .left-content {
        margin-right: 5%;
    }

    #recipeSearch {
        border-radius: 30px;
        height: 30px;
    }
    #sortButton {
        background: none;
        border: none;
        cursor: pointer;    
    }
    .sort-icon {
        width: 20px;
        height: 20px;
    }

    /* -- Search Bar -- */
    .searchDiv h1{
        font-family: var(--special-font);
        text-align: center;
        color: var(--bgandtext-color-dark);
        text-align: left;
        padding-left: 20px;
    }
    
    #searchResults {
        margin-top: 20px;
    }

    /* Style the heading of each recipe */
    #searchResults div h2 {
        font-size: 24px;
        margin: 0;
        font-family: var(--bold-font);
        color: var(--bgandtext-color-dark);
    }

    /* Style the recipe description */
    #searchResults div p {
        margin: 5px 0;
        font-family: var(--regular-font);
        color: var(--bgandtext-color-dark);
    }
    #searchResults div img {
        width: auto;
        width: 150px;
        height: 150px;
        border-radius: 30px;
        object-fit: cover;
    }
    /* Style the star rating */
    #searchResults #starImg {
        width: 20px; 
        height: 20px; 
        margin-right: 5px;
    }
    .homeRecipeTab{
        display: flex;
        flex-direction: row;
        background-color: var(--bgandtext-color-light);
        border: 3px solid var(--primary-color);
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 30px;
    }
    .homeRecipeTab img{
        margin-left: 5px;
        width: 150px;
        height: 150px;
    }
    .homeRecipeTab div{
        width: 100%;
    }
    .searchDiv input[type="text"]{
        color: var(--bgandtext-color-dark);
        border-style: solid;
        border-color: var(--primary-color);
        width: 200px;
        font-family: var(--regular-font);
        padding-left: 15px;
    }

    input[type="text"]::placeholder {
        color: var(--bgandtext-color-grey);
        text-align: left;
        padding-left: 15px;
    }

    